.facetip {
    background-color: #333;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    padding: 6px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}

.facetip-arrow-down {
    position: absolute;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
}