{% load i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{% trans 'Log in' %}</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link href="{{ MEDIA_URL }}css/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="centered">
    <img style="margin-bottom:30px; padding-left:65px;" src="{{ MEDIA_URL}}images/pollxpress.png"/>
</div>
</body>
</html>
