{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="fright">
    <a href="{% url person-add %}">
        <img tip="{% trans "add person" %}" src="{{ MEDIA_URL }}images/icons/add.png" />
    </a>
</div>
<h1>{% trans "Persons" %}</h1>
<div id="list">
    {% for item in spaces %}
    <h2>{{ item.name }} [{{ item.person_set.all|length }} {% trans "persons" %}]</h2>
    <ul>
        {% for person in item.person_set.all %}
        <li>{{ forloop.counter }}.- {{ person.name }}
            <a class="action" href="{% url person-edit person.id %}">
                <img tip="{% trans "edit person" %}" src="{{ MEDIA_URL }}images/icons/page_edit.png" />
            </a>
            <a class="action" href="{% url person-delete person.id %}">
                <img tip="{% trans "delete person" %}" src="{{ MEDIA_URL }}images/icons/bin_closed.png" />
            </a>
        </li>
        {% empty %}
        <li>{% trans "This space is empty." %}</li>
        {% endfor %}
    </ul>
    <br/>
    {% endfor %}
    {% if persons %}
    <h2>{% trans "Whitout Space" %}</h2>
    {% for person in persons %}
    <li>{{ forloop.counter }}.- {{ person.name }}
        <a class="action" href="{% url person-edit person.id %}">
            <img tip="{% trans "edit person" %}" src="{{ MEDIA_URL }}images/icons/page_edit.png" />
        </a>
        <a class="action" href="{% url person-delete person.id %}">
            <img tip="{% trans "delete person" %}" src="{{ MEDIA_URL }}images/icons/bin_closed.png" />
        </a>
    </li>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
