{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="fright">
    <a href="{% url query-add %}">
        <img tip="{% trans "add question" %}" src="{{ MEDIA_URL }}images/icons/add.png" />
    </a>
</div>
<h1>{% trans "Queries" %}</h1>
{% if queries %}
<div id="list">
    <ul>
        {% for item in queries %}
        <li>{{ forloop.counter }}.- <a href="{{ item.get_absolute_url }}" >{{ item.name }}</a> - {{ item.date_creation|date:'d/m/Y' }}</li>
        {% endfor %}
    </ul>
{% else %}
{% trans "There isn't any query yet. Please add one." %}
{% endif %}
</div>
{% endblock %}
