{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>{{ action }} {% trans "Space" %}</h1>
{% if form.errors %}
<div class="error">
    {% trans "There are some error. Please, fix them and try again." %}
    {{ form.errors }}
</div>
{% endif%}

<div class="fancyform">
    <form enctype="multipart/form-data" action="." method="post">{% csrf_token %}
    {% for field in form %}
        {% if message %}<p>{{ message }}</p>{% endif %}
        <p>
            <label {% if field.errors %}class="fielderror"{% endif %}>
            {{ field.label}}
            </label>
            {{ field }}
        </p>
    {% endfor %}
    <p><input type="submit" value="Submit" /></p>
    </form>
</div>
{% endblock %}
